<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="com.aptana.studio.target" sequenceNumber="17">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="com.aptana.ide.feature.libraries.subscription.feature.group" version="2.0.3.201712192128"/>
<repository location="file:/Users/cwilliams/Downloads/archive/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20170919201930/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.equinox.executable.feature.group" version="3.7.2.v20171108-1834"/>
<unit id="org.eclipse.rcp.feature.group" version="4.7.2.v20171130-0510"/>
<unit id="org.eclipse.test.feature.group" version="3.7.200.v20170511-1043"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.7"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>
